3934_POS/bin/Debug/net8.0-windows/Azure.Core.dll
3934_POS/bin/Debug/net8.0-windows/Azure.Identity.dll
3934_POS/bin/Debug/net8.0-windows/db_pos_log.ldf
3934_POS/bin/Debug/net8.0-windows/db_pos.mdf
3934_POS/bin/Debug/net8.0-windows/Microsoft.Bcl.AsyncInterfaces.dll
3934_POS/bin/Debug/net8.0-windows/Microsoft.Data.SqlClient.dll
3934_POS/bin/Debug/net8.0-windows/Microsoft.Identity.Client.dll
3934_POS/bin/Debug/net8.0-windows/Microsoft.Identity.Client.Extensions.Msal.dll
3934_POS/bin/Debug/net8.0-windows/Microsoft.IdentityModel.Abstractions.dll
3934_POS/bin/Debug/net8.0-windows/Microsoft.IdentityModel.JsonWebTokens.dll
3934_POS/bin/Debug/net8.0-windows/Microsoft.IdentityModel.Logging.dll
3934_POS/bin/Debug/net8.0-windows/Microsoft.IdentityModel.Protocols.dll
3934_POS/bin/Debug/net8.0-windows/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
3934_POS/bin/Debug/net8.0-windows/Microsoft.IdentityModel.Tokens.dll
3934_POS/bin/Debug/net8.0-windows/Microsoft.SqlServer.Server.dll
3934_POS/bin/Debug/net8.0-windows/System.ClientModel.dll
3934_POS/bin/Debug/net8.0-windows/System.IdentityModel.Tokens.Jwt.dll
3934_POS/bin/Debug/net8.0-windows/System.Memory.Data.dll
3934_POS/bin/Debug/net8.0-windows/System.Runtime.Caching.dll
3934_POS/bin/Debug/net8.0-windows/de/Microsoft.Data.SqlClient.resources.dll
3934_POS/bin/Debug/net8.0-windows/es/Microsoft.Data.SqlClient.resources.dll
3934_POS/bin/Debug/net8.0-windows/fr/Microsoft.Data.SqlClient.resources.dll
3934_POS/bin/Debug/net8.0-windows/it/Microsoft.Data.SqlClient.resources.dll
3934_POS/bin/Debug/net8.0-windows/ja/Microsoft.Data.SqlClient.resources.dll
3934_POS/bin/Debug/net8.0-windows/ko/Microsoft.Data.SqlClient.resources.dll
3934_POS/bin/Debug/net8.0-windows/pt-BR/Microsoft.Data.SqlClient.resources.dll
3934_POS/bin/Debug/net8.0-windows/ru/Microsoft.Data.SqlClient.resources.dll
3934_POS/bin/Debug/net8.0-windows/runtimes/unix/lib/net8.0/Microsoft.Data.SqlClient.dll
3934_POS/bin/Debug/net8.0-windows/runtimes/win/lib/net8.0/Microsoft.Data.SqlClient.dll
3934_POS/bin/Debug/net8.0-windows/runtimes/win/lib/net8.0/System.Runtime.Caching.dll
3934_POS/bin/Debug/net8.0-windows/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
3934_POS/bin/Debug/net8.0-windows/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
3934_POS/bin/Debug/net8.0-windows/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
3934_POS/bin/Debug/net8.0-windows/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
3934_POS/bin/Debug/net8.0-windows/zh-Hans/Microsoft.Data.SqlClient.resources.dll
3934_POS/bin/Debug/net8.0-windows/zh-Hant/Microsoft.Data.SqlClient.resources.dll
3934_POS/My Project/Application.Designer.vb
3934_POS/My Project/Application.myapp
3934_POS/My Project/Resources.Designer.vb
3934_POS/My Project/Resources.resx
3934_POS/obj/3934_POS.vbproj.nuget.dgspec.json
3934_POS/obj/3934_POS.vbproj.nuget.g.props
3934_POS/obj/3934_POS.vbproj.nuget.g.targets
3934_POS/obj/project.assets.json
3934_POS/obj/project.nuget.cache
3934_POS/obj/Debug/net8.0-windows/_3934_POS.Form1.resources
3934_POS/obj/Debug/net8.0-windows/_3934_POS.Resources.resources
3934_POS/obj/Debug/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.vb
3934_POS/obj/Debug/net8.0-windows/3934_POS.AssemblyInfo.vb
3934_POS/obj/Debug/net8.0-windows/3934_POS.AssemblyInfoInputs.cache
3934_POS/obj/Debug/net8.0-windows/3934_POS.assets.cache
3934_POS/obj/Debug/net8.0-windows/3934_POS.designer.deps.json
3934_POS/obj/Debug/net8.0-windows/3934_POS.designer.runtimeconfig.json
3934_POS/obj/Debug/net8.0-windows/3934_POS.dll
3934_POS/obj/Debug/net8.0-windows/3934_POS.GeneratedMSBuildEditorConfig.editorconfig
3934_POS/obj/Debug/net8.0-windows/3934_POS.genruntimeconfig.cache
3934_POS/obj/Debug/net8.0-windows/3934_POS.pdb
3934_POS/obj/Debug/net8.0-windows/3934_POS.vbproj.AssemblyReference.cache
3934_POS/obj/Debug/net8.0-windows/3934_POS.vbproj.BuildWithSkipAnalyzers
3934_POS/obj/Debug/net8.0-windows/3934_POS.vbproj.CoreCompileInputs.cache
3934_POS/obj/Debug/net8.0-windows/3934_POS.vbproj.FileListAbsolute.txt
3934_POS/obj/Debug/net8.0-windows/3934_POS.vbproj.GenerateResource.cache
3934_POS/obj/Debug/net8.0-windows/3934_POS.vbproj.Up2Date
3934_POS/obj/Debug/net8.0-windows/apphost.exe
3934_POS/obj/Debug/net8.0-windows/ref/3934_POS.dll
3934_POS/obj/Debug/net8.0-windows/refint/3934_POS.dll
3934_POS/obj/Debug/net8.0-windows/TempPE/My Project.Resources.Designer.vb.dll
3934_POS/bin/Debug/net8.0-windows/Azure.Core.dll
3934_POS/.vs/ProjectEvaluation/3934_pos.metadata.v9.bin
3934_POS/.vs/ProjectEvaluation/3934_pos.projects.v9.bin
3934_POS/.vs/ProjectEvaluation/3934_pos.strings.v9.bin
3934_POS/.vs/3934_POS/v17/DocumentLayout.backup.json
3934_POS/.vs/3934_POS/v17/DocumentLayout.json
3934_POS/bin/Debug/net8.0-windows/3934_POS.deps.json
3934_POS/bin/Debug/net8.0-windows/3934_POS.dll
3934_POS/bin/Debug/net8.0-windows/3934_POS.exe
3934_POS/bin/Debug/net8.0-windows/3934_POS.pdb
3934_POS/bin/Debug/net8.0-windows/3934_POS.runtimeconfig.json
3934_POS/.vs/3934_POS/DesignTimeBuild/.dtbcache.v2
3934_POS/.vs/3934_POS/FileContentIndex/008f8146-92ca-4181-9d42-ad5497210560.vsidx
3934_POS/.vs/3934_POS/FileContentIndex/256eef25-3ce5-4f55-870e-66b4b846e522.vsidx
3934_POS/.vs/3934_POS/FileContentIndex/b44412cf-617d-4334-806c-84a0bf7fedc6.vsidx
3934_POS/.vs/3934_POS/v17/.futdcache.v2
3934_POS/.vs/3934_POS/v17/.suo
3934_POS/.vs/3934_POS/v17/.futdcache.v2
3934_POS/.vs/3934_POS/DesignTimeBuild/.dtbcache.v2
